################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Vista/bin
Vista/obj
*.bbl
*.tex
.vs
Modelo/bin
Modelo/obj
Entidades/bin
Entidades/obj
Controladora/bin
Controladora/obj
.vs
